body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin:0 ;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 31, 31);
    /* overflow: hidden; */
    
}
#body #video{
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position:absolute ;
}
.inicioBtn{
    padding: 1rem 30px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: #000000;
    transition: .2s;
}
.inicioBtn a{
    text-decoration: none;
}
.inicioBtn:hover{
    color: rgb(205, 207, 86);
    background-color: black;
    cursor: pointer ;
}
.inicio{
    text-decoration: none;
    font-size: 20px ;
    color: aliceblue;
}
.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.rockHome{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.rockHome .guitarRock{

    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
}
footer div{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
} 
footer .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem   ;
}
footer .redes img{
    width: 30px;
}

footer div p{
    color: white;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* media queries */
@media (max-width: 650px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    .containerHome{
        width: 100%;
        height: 100%;
    }
    footer .redes img{
        width: 30px;
    }
}


/* animations  */

@keyframes rock {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}